<!-- Modal -->
<!-- Trigger from nav -->
<div id="sendImageModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Choose Image</h3>
            </div>
            <div class="modal-body">
                
                    <input style="display:none;" type="file" (change)="onFileChanged($event)" #fileInput accept=".png,.jpg,.jpeg,.gif">                    
                    <button [ngClass]="selectImageButtonClass"(click)="fileInput.click()" style="margin-left:5px;">{{selectImageButtonLabel}}</button>                     
                    <div [ngClass]="messageClass" style="display: inline;">{{message}}</div>                                           
                
            </div>
            <div class="modal-footer">
                <button [ngClass]="loadedImage ? 'btn btn-primary': 'hidden'" (click)="onUpload()" data-dismiss="modal">Send</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>